{% extends 'base.html.twig' %}

{% block title 'Agence Hitema' %}

{% block body %}
<div class="jumbotron text-center">
<h1> L'agence Hitema </h1></div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea laborum vel eveniet eum necessitatibus quas reprehenderit eos, nesciunt excepturi illo ad ipsam numquam inventore et minima suscipit provident alias. Accusamus! </p>
</div>
{% endblock %}