{% extends 'base.html.twig' %}

{% block title 'Oupss..' %}

{% block body %}
<div class="jumbotron text-center" 
 <img src="img/Sticker.jpg" border-radius: 24% 0%, height=130px, width=100px;
     alt="Logo de l'agence Hitema" />

<h1> Pour améliorer votre navigation, cette page est en cours d'elaboration </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea laborum vel eveniet eum necessitatibus quas reprehenderit eos, nesciunt excepturi illo ad ipsam numquam inventore et minima suscipit provident alias. Accusamus! </p>
</div>
{% endblock %}